<table id="customers">
    <thead>
    <tr>
      <th>admin_id</th>
      <th>dateCreated</th>
      <th>door_no</th>
      <th>emp_id</th>
      <th>emp_username</th>
      <th>frc_ppm</th>
      <th>gps_lang</th>
      <th>gps_lat</th>
      <th>location_id</th>
      <th>location_name</th>
      <th>signature_img</th>
      <th>upload_img</th>
      <th>upload_video</th>
      <th>ward_id</th>
      <th>ward_name</th>
      <th>water_sample_id</th>
      
    </tr>
</thead>
    
   
        <tbody *ngFor="let i of data | paginate: { itemsPerPage: 7, currentPage: p, totalItems:dataList }">
            <td>{{i.admin_id}}</td>
            <td>{{i.dateCreated}}</td>
            <td>{{i.door_no}}</td>
            <td>{{i.emp_id}}</td>
            <td>{{i.emp_username}}</td>
            <td>{{i.frc_ppm}}</td>
            <td>{{i.gps_lang}}</td>
            <td>{{i.gps_lat}}</td>
            <td>{{i.location_id}}</td>
            <td>{{i.location_name}}</td>
            <td> <img src="{{i.signature_img}}" alt="" id="img"> </td>
            <td> <img src="{{i.upload_img}}" alt="" id="img"> </td>
            <td> <video src="{{i.upload_video}}" frameborder="0" id="img"></video> </td>
            <td>{{i.ward_id}} </td>
            <td> {{i.ward_name}}</td>
            <td> {{i.water_sample_id}}</td>
      
    </tbody>
    
  </table>
  <pagination-controls (pageChange)="page($event)"></pagination-controls>

<router-outlet></router-outlet>
